<div class="app-container">
  <!-- Toolbar -->
  <mat-toolbar
    color="primary"
    fxLayoutGap="8px"
    class="app-toolbar"
    [class.app-is-mobile]="media.isActive('xs')"
  >
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="flex-spacer"></span>
    <button
      mat-mini-fab
      matTooltip="Logout"
      aria-label="Logout"
      (click)="uiService.showToast('I do nothing.')"
    >
      <mat-icon>lock_open</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav
      #sidenav
      [mode]="media.isActive('xs') ? 'over' : 'side'"
      [fixedInViewport]="media.isActive('xs')"
      _
      fixedTopGap="56"
      [(opened)]="opened"
    >
    </mat-sidenav>
    <mat-sidenav-content>
      <app-home></app-home>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
