<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">WebAuthn Demo</div>
  <div *ngIf="!authService.hasCredentialsInNavigator">
    Credentials not available
  </div>
  <div *ngIf="authService.hasCredentialsInNavigator">
    <div>
      <!-- Registration -->
      <h2>Registration</h2>
      <button color="primary" (click)="startRegistration()">Register</button>
    </div>
    <div>
      <!-- Authentication -->
      <h2>Authentication</h2>
      <button color="primary" (click)="startAuthentication()">
        Authenticate
      </button>
    </div>
    <div *ngIf="authService.userId">
      <!-- Nonce Request -->
      <h2>Nonce Request</h2>
      <button color="primary" (click)="requestNonce()">Request</button>
      <div *ngIf="nonce">
        <h4>Nonce: {{ nonce }}</h4>
      </div>
    </div>
    <div *ngIf="authService.hasCredentialsInNavigator" [formGroup]="nonceForm">
      <!-- Nonce Register -->
      <h2>Nonce Register</h2>
      <input
        placeholder="Enter nonce to register"
        aria-label="Nonce"
        formControlName="nonce"
        #nonceInput
        (keyup.enter)="startAuthenticationWithNonce(nonceInput.value)"
      />
    </div>
    <div *ngIf="authService.userId">
      <h4>UserId: {{ authService.userId }}</h4>
    </div>
  </div>
</div>
