<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">WebAuthn Demo</div>
  <div *ngIf="!authService.hasCredentialsInNavigator">
    Credentials not available
  </div>
  <div *ngIf="authService.hasCredentialsInNavigator">
    <div>
      <!-- Registration -->
      <h2>Registration</h2>
      <button color="primary" (click)="startRegistration()">Register</button>
    </div>
  </div>
  <div *ngIf="authService.userId">
    <h4>UserId: {{ authService.userId }}</h4>
  </div>
  <div *ngIf="authService.hasCredentialsInNavigator">
    <div>
      <!-- Authentication -->
      <h2>Authentication</h2>
      <button color="primary" (click)="startAuthentication()">
        Authenticate
      </button>
    </div>
  </div>
</div>
